---
layout: layout.liquid
title: Home
---

{% comment %} <h1>Yet Another 11ty <strong>Boilerplate</strong></h1>
<img alt="pine" src="/images/pine.png" width="50" /> {% endcomment %}

<table id="books">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
        </tr>
    </thead>
</table>