body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #2D3142;
    padding: 0 40px;
    text-align: center;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

table {
    margin: 0 auto;
    margin-top: 40px;
    border-spacing: 20px;
}

table, th, td {
    border: 3px solid #EAE8FF;
    border-collapse: collapse;
}

td, th {
    padding: 10px 15px;
}